*
{
    margin: 0%;
}
body
{
    background-color: rgba(62, 242, 227, 0.674);
}
.banner 
{
    width: 100%;
    height: 60px;
    background:linear-gradient(to bottom,rgba(62, 242, 227, 0.674),rgb(36, 155, 235) ); 
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}
footer
{
    margin-top: 511px;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 34px;
    background:linear-gradient(to top,rgba(62, 242, 227, 0.674),rgb(36, 155, 235) ); 
    color: rgb(0, 0, 0);
    text-align: center;
    position: bottom;
    padding-top: 30px;
}
a{
    color: rgb(9, 0, 130);
    padding: 10px;
    font-weight: bold;
    font-size: large;
}
form
{
position: absolute;
top: 16%;
left: 25%;
background-color: aliceblue;
margin-right: 20%;
padding: 25px;
border-radius: 20px;
box-shadow: 5px 5px 10px rgb(60, 59, 59);
}
form h1 
{
    font-size: 18px;
}
.separation
{
    margin-top: 5px;
}
form .separation
{
    width: 100%;
    height: 1px ;
    background-color: rgb(36, 155, 235);
}
form .corpsformulaire
{
    display: flex;
    margin-bottom: 3px;
     
}
form .corpsformulaire .groupe
{
    position: relative;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
form .corpsformulaire .gauche .groupe input
{
margin-top: 5px;
padding:3px 2px 3px 24px;
border: 2px solid rgb(4, 118, 194);
border-radius: 10px;
box-shadow:5px 5px 10px rgba(36, 155, 235, 0.727) ;
}
form .corpsformulaire .gauche .groupe i
{
    color: rgb(0, 131, 218);
    position: absolute;
    left: 0;
    top: 28px;
    padding-left: 6px;
}
form .corpsformulaire .droite
{
    margin-left: 0px;
}
form .corpsformulaire .droite .groupe
{
    height: 100%;
}
form .corpsformulaire .droite textarea
{
 margin-left: 40px;
margin-bottom: 50px;
padding: 10px;
width: 275px;
height: 265px;
background-color: rgba(178, 218, 253, 0.271);
border: 2px solid rgb(4, 118, 194);
border-radius: 10px;
resize:none;
box-shadow:5px 5px 10px rgba(36, 155, 235, 0.727) ;
}
.textarea
{
    padding-bottom: 10px;
}
label
{
    text-align: center;
 
}
form .pieds-form button
{
    background-color: rgba(36, 155, 235, 0.727);
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid rgb(4, 105, 173);
    box-shadow:5px 5px 10px rgba(36, 155, 235, 0.727) ;
    cursor: pointer;
    transition:transform 0,5s;
}
form .pieds-form button:hover
{
transform: scale(1,02);
}
.msg
{
    margin-left: 90px;
}